#s-119b1d6a-9db6-4ab1-944c-f0c489d4f3f1 {
  background-color: transparent;
  background-image: none;
  min-width: 320px;
  min-height: 480px;
}
#s-119b1d6a-9db6-4ab1-944c-f0c489d4f3f1 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-119b1d6a-9db6-4ab1-944c-f0c489d4f3f1 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 480px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-119b1d6a-9db6-4ab1-944c-f0c489d4f3f1 #s-daily {
  position: absolute;
  top: 83px;
  left: 10px;
}
#s-119b1d6a-9db6-4ab1-944c-f0c489d4f3f1 #s-unchecked_2 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/809a300d-d75a-40ee-a142-26ea33af951d.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-119b1d6a-9db6-4ab1-944c-f0c489d4f3f1 #s-checked_2 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/c67ddcfc-62d8-43d7-b1b2-3ce8d344be82.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-119b1d6a-9db6-4ab1-944c-f0c489d4f3f1 #s-unchecked_3 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/809a300d-d75a-40ee-a142-26ea33af951d.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-119b1d6a-9db6-4ab1-944c-f0c489d4f3f1 #s-checked_3 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/c67ddcfc-62d8-43d7-b1b2-3ce8d344be82.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-119b1d6a-9db6-4ab1-944c-f0c489d4f3f1 #s-hourly {
  position: absolute;
  top: 123px;
  left: 10px;
}
#s-119b1d6a-9db6-4ab1-944c-f0c489d4f3f1 #s-unchecked {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/809a300d-d75a-40ee-a142-26ea33af951d.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-119b1d6a-9db6-4ab1-944c-f0c489d4f3f1 #s-checked {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/c67ddcfc-62d8-43d7-b1b2-3ce8d344be82.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-119b1d6a-9db6-4ab1-944c-f0c489d4f3f1 #s-unchecked_1 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/809a300d-d75a-40ee-a142-26ea33af951d.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-119b1d6a-9db6-4ab1-944c-f0c489d4f3f1 #s-checked_1 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/c67ddcfc-62d8-43d7-b1b2-3ce8d344be82.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-119b1d6a-9db6-4ab1-944c-f0c489d4f3f1 #s-weekly {
  position: absolute;
  top: 162px;
  left: 10px;
}
#s-119b1d6a-9db6-4ab1-944c-f0c489d4f3f1 #s-unchecked_4 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/809a300d-d75a-40ee-a142-26ea33af951d.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-119b1d6a-9db6-4ab1-944c-f0c489d4f3f1 #s-checked_4 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/c67ddcfc-62d8-43d7-b1b2-3ce8d344be82.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-119b1d6a-9db6-4ab1-944c-f0c489d4f3f1 #s-unchecked_5 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/809a300d-d75a-40ee-a142-26ea33af951d.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-119b1d6a-9db6-4ab1-944c-f0c489d4f3f1 #s-checked_5 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/c67ddcfc-62d8-43d7-b1b2-3ce8d344be82.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-119b1d6a-9db6-4ab1-944c-f0c489d4f3f1 #s-xdays {
  position: absolute;
  top: 203px;
  left: 10px;
}
#s-119b1d6a-9db6-4ab1-944c-f0c489d4f3f1 #s-unchecked_6 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/809a300d-d75a-40ee-a142-26ea33af951d.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-119b1d6a-9db6-4ab1-944c-f0c489d4f3f1 #s-checked_6 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/c67ddcfc-62d8-43d7-b1b2-3ce8d344be82.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-119b1d6a-9db6-4ab1-944c-f0c489d4f3f1 #s-unchecked_7 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/809a300d-d75a-40ee-a142-26ea33af951d.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-119b1d6a-9db6-4ab1-944c-f0c489d4f3f1 #s-checked_7 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/c67ddcfc-62d8-43d7-b1b2-3ce8d344be82.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-119b1d6a-9db6-4ab1-944c-f0c489d4f3f1 #s-yweeks {
  position: absolute;
  top: 241px;
  left: 10px;
}
#s-119b1d6a-9db6-4ab1-944c-f0c489d4f3f1 #s-unchecked_8 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/809a300d-d75a-40ee-a142-26ea33af951d.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-119b1d6a-9db6-4ab1-944c-f0c489d4f3f1 #s-checked_8 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/c67ddcfc-62d8-43d7-b1b2-3ce8d344be82.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-119b1d6a-9db6-4ab1-944c-f0c489d4f3f1 #s-unchecked_9 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/809a300d-d75a-40ee-a142-26ea33af951d.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-119b1d6a-9db6-4ab1-944c-f0c489d4f3f1 #s-checked_9 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/c67ddcfc-62d8-43d7-b1b2-3ce8d344be82.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-119b1d6a-9db6-4ab1-944c-f0c489d4f3f1 #s-backbutton {
  position: absolute;
  top: 20px;
  left: 13px;
  width: 33px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-119b1d6a-9db6-4ab1-944c-f0c489d4f3f1 #s-savebutton {
  position: absolute;
  top: 294px;
  left: 62px;
  width: 93px;
  height: 38px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-119b1d6a-9db6-4ab1-944c-f0c489d4f3f1 #s-clearbutton {
  position: absolute;
  top: 294px;
  left: 165px;
  width: 93px;
  height: 37px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#loadMark {
}