#s-33335c32-44b9-45bd-82e8-172d63682b2b {
  background-color: transparent;
  background-image: none;
  min-width: 330px;
  min-height: 490px;
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Image_1 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 320px;
  height: 480px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-CheckBox {
  position: absolute;
  top: 76px;
  left: 31px;
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-checked_1 {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Image_19 {
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-unchecked_1 {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Image_18 {
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-CheckBox_1 {
  position: absolute;
  top: 137px;
  left: 31px;
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-checked_2 {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Image_20 {
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-unchecked_2 {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Image_21 {
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-CheckBox_2 {
  position: absolute;
  top: 197px;
  left: 31px;
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-checked_3 {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Image_22 {
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-unchecked_3 {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Image_23 {
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-CheckBox_3 {
  position: absolute;
  top: 252px;
  left: 31px;
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-checked_4 {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Image_24 {
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-unchecked_4 {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Image_25 {
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Delete_application {
  position: absolute;
  top: 69px;
  left: 233px;
  width: 25px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Delete_application_1 {
  position: absolute;
  top: 140px;
  left: 225px;
  width: 25px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Delete_application_2 {
  position: absolute;
  top: 200px;
  left: 233px;
  width: 25px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Delete_application_3 {
  position: absolute;
  top: 255px;
  left: 249px;
  width: 25px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Delete_application_4 {
  position: absolute;
  top: 309px;
  left: 233px;
  width: 25px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Label_1 {
  position: absolute;
  top: 16px;
  left: 80px;
  width: 194px;
  height: 30px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 12pt;
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Label_1 .valign {
  vertical-align: middle;
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Input_1 {
  position: absolute;
  top: 76px;
  left: 70px;
  padding-left: 9px;
  width: 133px;
  height: 28px;
  background-color: #00FFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10pt;
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Image_2 {
  position: absolute;
  top: 196px;
  left: 154px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Image_3 {
  position: absolute;
  top: 196px;
  left: 280px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Group_5 {
  position: absolute;
  top: 76px;
  left: 280px;
  width: 31px;
  height: 30px;
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Image_13 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Image_14 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 30px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Group_6 {
  position: absolute;
  top: 137px;
  left: 273px;
  width: 31px;
  height: 30px;
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Image_15 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Image_16 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 30px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Group_7 {
  position: absolute;
  top: 196px;
  left: 280px;
  width: 31px;
  height: 30px;
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Image_17 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Image_26 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 30px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Group_8 {
  position: absolute;
  top: 252px;
  left: 280px;
  width: 31px;
  height: 30px;
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Image_27 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Image_28 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 30px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Input_2 {
  position: absolute;
  top: 137px;
  left: 70px;
  padding-left: 9px;
  width: 126px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 10pt;
}
#s-33335c32-44b9-45bd-82e8-172d63682b2b #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: normal;
}
#loadMark {
}