#s-350d7657-17d2-4e10-b729-cb33be7f5c73 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-350d7657-17d2-4e10-b729-cb33be7f5c73 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-350d7657-17d2-4e10-b729-cb33be7f5c73 #s-savebutton {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-350d7657-17d2-4e10-b729-cb33be7f5c73 #s-backbutton {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#loadMark {
}