#s-50584143-37aa-4b04-85fc-c6f8ad0222ad #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-50584143-37aa-4b04-85fc-c6f8ad0222ad #s-savebutton {
  -ms-transform: rotate(0.0deg);
}
#s-50584143-37aa-4b04-85fc-c6f8ad0222ad #s-backbutton {
  -ms-transform: rotate(0.0deg);
}
#loadMark {
}