#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-Rectangle_4 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-unchecked_2 > .valign {
  vertical-align: top;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-checked_2 > .valign {
  vertical-align: top;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-unchecked_3 > .valign {
  vertical-align: top;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-checked_3 > .valign {
  vertical-align: top;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-unchecked > .valign {
  vertical-align: top;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-checked > .valign {
  vertical-align: top;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-unchecked_1 > .valign {
  vertical-align: top;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-checked_1 > .valign {
  vertical-align: top;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-unchecked_4 > .valign {
  vertical-align: top;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-checked_4 > .valign {
  vertical-align: top;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-unchecked_5 > .valign {
  vertical-align: top;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-checked_5 > .valign {
  vertical-align: top;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-unchecked_6 > .valign {
  vertical-align: top;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-checked_6 > .valign {
  vertical-align: top;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-unchecked_7 > .valign {
  vertical-align: top;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-checked_7 > .valign {
  vertical-align: top;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-unchecked_8 > .valign {
  vertical-align: top;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-checked_8 > .valign {
  vertical-align: top;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-unchecked_9 > .valign {
  vertical-align: top;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-checked_9 > .valign {
  vertical-align: top;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-unchecked_10 > .valign {
  vertical-align: top;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-checked_10 > .valign {
  vertical-align: top;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-unchecked_11 > .valign {
  vertical-align: top;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-checked_11 > .valign {
  vertical-align: top;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-unchecked_12 > .valign {
  vertical-align: top;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-checked_12 > .valign {
  vertical-align: top;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-unchecked_13 > .valign {
  vertical-align: top;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-checked_13 > .valign {
  vertical-align: top;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-backbutton {
  -ms-transform: rotate(0.0deg);
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-savebutton {
  -ms-transform: rotate(0.0deg);
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-clearbutton {
  -ms-transform: rotate(0.0deg);
}
#loadMark {
}