#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e {
  background-color: transparent;
  background-image: none;
  min-width: 331px;
  min-height: 480px;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 480px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-Rectangle_4 {
  position: absolute;
  top: 301px;
  left: 31px;
  width: 298px;
  height: 6px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  font-size: 8pt;
  font-family: Arial;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-Rectangle_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 8pt;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-daily {
  position: absolute;
  top: 83px;
  left: 10px;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-unchecked_2 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/809a300d-d75a-40ee-a142-26ea33af951d.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-checked_2 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/c67ddcfc-62d8-43d7-b1b2-3ce8d344be82.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-unchecked_3 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/809a300d-d75a-40ee-a142-26ea33af951d.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-checked_3 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/c67ddcfc-62d8-43d7-b1b2-3ce8d344be82.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-hourly {
  position: absolute;
  top: 123px;
  left: 10px;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-unchecked {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/809a300d-d75a-40ee-a142-26ea33af951d.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-checked {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/c67ddcfc-62d8-43d7-b1b2-3ce8d344be82.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-unchecked_1 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/809a300d-d75a-40ee-a142-26ea33af951d.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-checked_1 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/c67ddcfc-62d8-43d7-b1b2-3ce8d344be82.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-weekly {
  position: absolute;
  top: 162px;
  left: 10px;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-unchecked_4 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/809a300d-d75a-40ee-a142-26ea33af951d.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-checked_4 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/c67ddcfc-62d8-43d7-b1b2-3ce8d344be82.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-unchecked_5 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/809a300d-d75a-40ee-a142-26ea33af951d.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-checked_5 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/c67ddcfc-62d8-43d7-b1b2-3ce8d344be82.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-xdays {
  position: absolute;
  top: 201px;
  left: 10px;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-unchecked_6 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/809a300d-d75a-40ee-a142-26ea33af951d.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-checked_6 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/c67ddcfc-62d8-43d7-b1b2-3ce8d344be82.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-unchecked_7 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/809a300d-d75a-40ee-a142-26ea33af951d.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-checked_7 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/c67ddcfc-62d8-43d7-b1b2-3ce8d344be82.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-yweeks {
  position: absolute;
  top: 239px;
  left: 10px;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-unchecked_8 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/809a300d-d75a-40ee-a142-26ea33af951d.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-checked_8 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/c67ddcfc-62d8-43d7-b1b2-3ce8d344be82.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-unchecked_9 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/809a300d-d75a-40ee-a142-26ea33af951d.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-checked_9 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/c67ddcfc-62d8-43d7-b1b2-3ce8d344be82.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-daily_1 {
  position: absolute;
  top: 275px;
  left: 10px;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-unchecked_10 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/809a300d-d75a-40ee-a142-26ea33af951d.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-checked_10 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/c67ddcfc-62d8-43d7-b1b2-3ce8d344be82.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-unchecked_11 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/809a300d-d75a-40ee-a142-26ea33af951d.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-checked_11 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/c67ddcfc-62d8-43d7-b1b2-3ce8d344be82.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-hourly_1 {
  position: absolute;
  top: 314px;
  left: 10px;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-unchecked_12 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/809a300d-d75a-40ee-a142-26ea33af951d.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-checked_12 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/c67ddcfc-62d8-43d7-b1b2-3ce8d344be82.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-unchecked_13 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/809a300d-d75a-40ee-a142-26ea33af951d.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-checked_13 {
  width: 34px;
  height: 34px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-image: url('../../images/c67ddcfc-62d8-43d7-b1b2-3ce8d344be82.png');
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-backbutton {
  position: absolute;
  top: 20px;
  left: 13px;
  width: 33px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-savebutton {
  position: absolute;
  top: 358px;
  left: 62px;
  width: 93px;
  height: 38px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-clearbutton {
  position: absolute;
  top: 358px;
  left: 165px;
  width: 93px;
  height: 37px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#loadMark {
}