#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-backbutton {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-savebutton {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ca5df9b-efa3-4461-a3cb-bb4042faf38e #s-clearbutton {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#loadMark {
}