#s-ce10269c-1500-4f7b-9b12-0b09449b2e44 {
  background-color: transparent;
  background-image: none;
  min-width: 320px;
  min-height: 480px;
}
#s-ce10269c-1500-4f7b-9b12-0b09449b2e44 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-ce10269c-1500-4f7b-9b12-0b09449b2e44 #s-Image_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 480px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-ce10269c-1500-4f7b-9b12-0b09449b2e44 #s-Image_2 {
  position: absolute;
  top: 151px;
  left: 46px;
  width: 239px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#loadMark {
}