#s-d12245cc-1680-458d-89dd-4f0d7fb22724 {
  background-color: transparent;
  background-image: none;
  min-width: 808px;
  min-height: 770px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Iphone4_vertical {
  position: absolute;
  top: 17px;
  left: 428px;
  width: 380px;
  height: 753px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_63 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 380px;
  height: 753px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Dynamic_Panel_30 {
  position: absolute;
  top: 133px;
  left: 31px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_31 {
  width: 320px;
  height: 480px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 {
  position: absolute;
  top: 2px;
  left: 6px;
  width: 320px;
  height: 480px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 {
  position: absolute;
  top: 271px;
  left: 32px;
  width: 225px;
  height: 28px;
  background-color: #EFEFF0;
  background-image: -moz-linear-gradient(top,#EFEFF0,#C0C1C4);
  background-image: -webkit-linear-gradient(top,#EFEFF0,#C0C1C4);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#EFEFF0), color-stop(100%,#C0C1C4));
  background-image: -o-linear-gradient(top,#EFEFF0,#C0C1C4);
  background-image: linear-gradient(to bottom,#EFEFF0,#C0C1C4);
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #282A2F;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #282A2F;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #282A2F;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #282A2F;
  border-radius: 12px 12px 12px 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: bold;
  line-height: 16pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 .valign {
  vertical-align: middle;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_2 {
  position: absolute;
  top: 335px;
  left: 39px;
  width: 211px;
  height: 28px;
  background-color: #EFEFF0;
  background-image: -moz-linear-gradient(top,#EFEFF0,#C0C1C4);
  background-image: -webkit-linear-gradient(top,#EFEFF0,#C0C1C4);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#EFEFF0), color-stop(100%,#C0C1C4));
  background-image: -o-linear-gradient(top,#EFEFF0,#C0C1C4);
  background-image: linear-gradient(to bottom,#EFEFF0,#C0C1C4);
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #282A2F;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #282A2F;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #282A2F;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #282A2F;
  border-radius: 12px 12px 12px 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: bold;
  line-height: 16pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_2 .valign {
  vertical-align: middle;
}
#loadMark {
}