#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_63 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_1 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #282A2F;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #282A2F;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #282A2F;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #282A2F;
  border-radius: 12px 12px 12px 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 225px;
  height: 28px;
  -pie-background: linear-gradient(to bottom,#EFEFF0,#C0C1C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Button_2 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #282A2F;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #282A2F;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #282A2F;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #282A2F;
  border-radius: 12px 12px 12px 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  width: 211px;
  height: 28px;
  -pie-background: linear-gradient(to bottom,#EFEFF0,#C0C1C4);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#loadMark {
}