#s-ea409544-cb51-4797-846e-8b545595c832 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-checked_1 > .valign {
  vertical-align: top;
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-unchecked_1 > .valign {
  vertical-align: top;
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-Rich_text_44 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #AEB1B5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #AEB1B5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #AEB1B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #AEB1B5;
  -ms-transform: rotate(0.0deg);
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-Image_84 {
  -ms-transform: rotate(0.0deg);
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-Delete_application_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-Add_icon_blue {
  -ms-transform: rotate(0.0deg);
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-checked_2 > .valign {
  vertical-align: top;
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-unchecked_2 > .valign {
  vertical-align: top;
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#loadMark {
}