#s-ea409544-cb51-4797-846e-8b545595c832 {
  background-color: transparent;
  background-image: none;
  min-width: 387px;
  min-height: 800px;
}
#s-ea409544-cb51-4797-846e-8b545595c832 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-Iphone5_vertical {
  position: absolute;
  top: 0px;
  left: -1px;
  width: 388px;
  height: 800px;
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-Image_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 388px;
  height: 800px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-Dynamic_Panel_34 {
  position: absolute;
  top: 116px;
  left: 36px;
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-Panel_35 {
  width: 320px;
  height: 568px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-Image_1 {
  position: absolute;
  top: 1px;
  left: 2px;
  width: 310px;
  height: 470px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-CheckBox {
  position: absolute;
  top: 62px;
  left: 23px;
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-checked_1 {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-Image_19 {
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-unchecked_1 {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-Image_18 {
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-Group_44 {
  position: absolute;
  top: 54px;
  left: 54px;
  width: 206px;
  height: 45px;
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-Rich_text_44 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 10px;
  width: 194px;
  height: 43px;
  background-color: #F7F7F7;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #AEB1B5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #AEB1B5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #AEB1B5;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #AEB1B5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  font-size: 12pt;
  font-family: Arial;
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-Rich_text_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-Rich_text_44 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-Rich_text_44 span#rtr-s-Rich_text_44_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
  line-height: 0px;
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-Image_84 {
  position: absolute;
  top: 15px;
  left: 183px;
  width: 10px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-Delete_application_2 {
  position: absolute;
  top: 65px;
  left: 272px;
  width: 25px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-Add_icon_blue {
  position: absolute;
  top: 7px;
  left: 271px;
  width: 27px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-CheckBox_1 {
  position: absolute;
  top: 120px;
  left: 23px;
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-checked_2 {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-Image_20 {
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-unchecked_2 {
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ea409544-cb51-4797-846e-8b545595c832 #s-Image_21 {
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#loadMark {
}